/*clear defaults*/
p {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #222;
  background: #b3a49f6e;
}
/* Link Styles */

a {
  color: #f13c03;
}
a:hover {
  color: #6633ff;
}

header {
  text-align: center;
  background: url('./images/city_photo_HDR.jpg') no-repeat top center ;
  background-size: contain;
  overflow: hidden;
  line-height: 1.4;
}

.tag {
  background-color: none;
  color: white;
  stroke: black;
  display: block;
  margin-top: -1px;
}

.card {
  margin: 10px;
  padding: 0px;
  max-width: .5vw;
  min-width: 400px;
  text-align: left;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

footer .card {
  margin: 0px;
  padding: 0px;
  border-bottom: none;
}

footer {
  position: sticky;
  width: 100%;
  min-height: 30px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  font-size: .75em;
  background: #b3a49f6e;
}

footer .copyright {
  top: -8px;
  /* margin-right: 20px; */
  font-size: .75em;
}

.card-title {
  text-align: center;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
    justify-content: space-around;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1em;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

}

