/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Yellowtail', sans-serif;
  color: #222;
  background: #b3a49f6e;
}
/* Link Styles */

a {
  color: #f13c03;
}
a:hover {
  color: #6633ff;
}

header {
  text-align: center;
  background: url('./images/city photo HDR.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 10%;
  line-height: 1.4;

}

.tag {
  background-color: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: block;
  margin-top: -100px;
}

.card {
  margin: 10px;
  padding: 20px;
  max-width: 750px;
  min-width: 400px;
  text-align: left;
  background: #fff00;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 0px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}


/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
    max-width: 1200px;
    justify-content: space-around;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

.card-title {
  text-align: center;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}
